<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Testing login</title>
</head>
<body>
<div id="fb-root"></div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="static/fblogin.js"></script>
<!--
  Below we include the Login Button social plugin. This button uses the JavaScript SDK to
  present a graphical Login button that triggers the FB.login() function when clicked.

  Learn more about options for the login button plugin:
  /docs/reference/plugins/login/ 

-->
<fb:login-button show-faces="true" width="200" max-rows="1"></fb:login-button>


<div id="div1"><h2>Short AT on click</h2></div>
<button id="get_short_AT">Get Short AT</button>

<div id="div2"><h2>Long AT on click</h2></div>
<button id="get_long_AT">Get Long AT </button>




</body>
</html>
